.content-wrapper {
    background: #AEE4AF;
}

.btn-primary {
	padding: 10px;
    color: #fff;
    background-color: #295651;
    border-color: #97BAA4;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
}

.btn-primary:hover {
    color: #fff;
    background-color: #232941;
    border-color: #97BAA4;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: #379863;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active{
	background-color: #379863;
}

