.card-header{
	background-color: #499360;
	color: #ffffff;
}

.head{
	font-size: 25px;
}

a:hover{
	cursor: pointer; 
}

.form-control{
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 10px;
}

.swd{
	width: 300px;
}

.modal{
	color: black;
}

.dt{
	width: 100px;
}

.num{
	width: 100px;
}

.nav-pills .nav-link:not(.active):hover{
	color: black;
	background-color: #97BAA4;
}

.custom{
	color: black;
	background-color: #EDF5E1;
}

thead, tfoot{
	background-color: #93e09c;
}

table{
	border-color: rgba(1, 1, 1, 255, 0.2);
}